*__pycache__
\plot
*.db

# Report LaTex Folder
/report/main*
/report/**/_minted-*
/report/**/*.aux
/report/**/*.log
/report/**/*.out
/report/**/*.toc
/report/**/*.acn
/report/**/*.bcf
/report/**/*.glo
/report/**/*.maf
/report/**/*.ist
/report/**/*.mtc*
/report/**/*.xml
/report/**/*.gz
/report/**/*.nav
/report/**/*.snm
/report/**/*.vrb
/report/**/*.pyg
/report/**/*.acr
/report/**/*.alg
/report/**/*.bbl
/report/**/*.blg
/report/**/*.glg
/report/**/*.gls